.cellContainer,
.cellContainer .cellBack,
.cellContainer .cellContentWrapper,
.ship {
    width: 100px;
    height: 100px;
}

.ship {
    background-color: #ffd4ad;
    color: black;
    font-size: 36px;
    position: absolute;
    z-index: 2;
    color: #fff;
    line-height: 100px;
    text-align: center;
}

.cellContainer .cellBack {
    background: #baffad;
}

.cellContainer .cellBack,
.cellContainer .cellContentWrapper,
.ship {
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
}

.cellContainer .cellContentWrapper .cellContent {
    width: 100%;
    height: 100%;
}

.cellContainer .cellContentWrapper .cellContent.arrowCellContent {
    background: #ffebb3;
}

.cellContainer .cellContentWrapper .cellContent.emptyCellContent {
    background: #ffc5d8;
}

.cellContainer .cellContentWrapper .cellContent.horseCellContent {
    background: #b4a6ff;
}

.cellContainer .cellContentWrapper .cellContent.waterCellContent {
    background: #d6faff;
    border-color: #39d6ff;
}

.cellContainer .cellBack.active,
.cellContainer .cellContentWrapper.active {
    z-index: 2;
}

.ship.highlighted,
.cellContainer .cellBack.highlighted,
.cellContainer .cellContentWrapper.highlighted {
    border: 1px solid red;
}

.pirate {
    position: absolute;
    border-radius: 100%;
    border: 1px solid red;
    z-index: 3;
}

.pirate.selected {
    background: red;
}