.cellContainer,
.cellContainer .cellBack,
.cellContainer .cellContentWrapper {
    width: 100px;
    height: 100px;
}

.cellContainer .cellBack {
    background: #baffad;
}

.cellContainer .cellBack,
.cellContainer .cellContentWrapper {
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
}

.cellContainer .cellContentWrapper .cellContent {
    width: 100%;
    height: 100%;
}

.cellContainer .cellContentWrapper .cellContent.arrowCellContent {
    background: #ffebb3;
}

.cellContainer .cellContentWrapper .cellContent.emptyCellContent {
    background: #ffc5d8;
}

.cellContainer .cellBack.active,
.cellContainer .cellContentWrapper.active {
    z-index: 2;
}

.cellContainer .cellBack.highlighted,
.cellContainer .cellContentWrapper.highlighted {
    border: 1px solid red;
}

.pirate {
    position: absolute;
    border-radius: 100%;
    border: 1px solid red;
}

.pirate.selected {
    background: red;
}